
<div style="text-align:center">

<h1>Score</h1>

<p> My guess is <%= @my_guess %></p>

<p></p>
<p>The translation is <%= @score[:translation] %></p>
<p>My score is <%= @score[:score] %></p>
<p><%= @score[:message] %></p>

</div>
